.completepage {
    .complete {
        .container {
            .complete__wrapt {
                padding: 60px 0;
                @include mid(true);
                flex-direction: column;

                .complete__img {
                    width: 150px;
                    position: relative;

                    &-main {
                        width: 100%;
                    }

                    &-tick {
                        position: absolute;
                        top: 13%;
                        left: 70%;
                        width: 45px;
                        height: 45px;
                        display: block;
                        z-index: 1;
                    }

                    &::after {
                        content: "";
                        width: 35px;
                        height: 35px;
                        background-color: rgb(7, 216, 0);
                        position: absolute;
                        top: 16%;
                        left: 73%;
                        border-radius: 50%;
                    }
                }

                .complete__title {
                    @include text(20px, $font-main, 22px, $text-black-cl, uppercase);
                    margin: 24px;
                }

                .complete__thas {
                    @include text(16px, $font-main, 22px, $text-black-cl, none);
                    margin-bottom: 24px

                }

                .complete__des {
                    text-align: center;
                    @include text(16px, $font-main, 22px, $text-black-cl, none);
                    max-width: 520px;
                    margin-bottom: 24px;
                }
            }
        }
    }
    @include xs {
        .complete {
            .container {
                .complete__wrapt {  
                    .complete__title {
                        @include text(20px, $font-main, 22px, $text-black-cl, uppercase);
                        margin: 24px;
                    }
    
                    .complete__thas {
                        font-size: 14;
                        margin-bottom: 20px
    
                    }
    
                    .complete__des {
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}