.storepage {
    .containt__store {
        max-width: 1344px;
        margin-right: auto;
        margin-left: auto;
        .store {
            &__find {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;

                &-city,
                &-district {
                    flex-grow: 1;
                    position: relative;
                    border: 1px solid $gray-cl;
                    select {
                        width: 100%;
                        height: 100%;
                        padding: 8px 32px 8px 12px;
                        @include text(14px, $font-main, 28px, $text-cl, none);
                        background-color: $main-bg-cl;
                        @include transition($t);

                        &:focus {
                            outline: 1px solid #66a3ff;
                            @include transition($t);
                            border: none;
                        }
                    }

                    .store__find-icon {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        @include transform(translateY(-50%));
                        @include mid(true)
                    }
                }

            }

            &__main {
                display: flex;
                gap: 40px;

                .store__list {
                    max-width: 338px;
                    height: 600px;
                    border: solid #eeeeee 1px;

                    &-title {
                        background-color: #eeeeee;
                        padding: 8px 12px;
                        @include text(14px, $font-main, 22px, $text-black-cl, none);
                    }

                    .store__items {
                        padding: 0 16px;
                        overflow: auto;
                        @include customscroll();
                        height: calc(100% - 38px);

                        .store__item {
                            padding: 16px 0;

                            &-img {
                                width: 100%;
                            }

                            &-content {
                                .store__item-name {
                                    @include text(14px, $font-main, 16px, $text-black-cl, uppercase);
                                    margin-bottom: 12px;
                                }

                                .store__item-address {
                                    margin-bottom: 8px;
                                    @include text(14px, $font-main, 20px, $text-black-cl, none);
                                    padding-left: 28px;
                                    position: relative;

                                    span {
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 20px;
                                    }

                                }

                                .store__item-time {
                                    margin-bottom: 8px;
                                    @include text(14px, $font-main, 20px, $text-black-cl, none);
                                    padding-left: 28px;
                                    position: relative;

                                    span {
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 20px;
                                    }

                                }

                                .store__item-phone {
                                    margin-bottom: 8px;
                                    @include text(14px, $font-main, 20px, $text-black-cl, none);
                                    padding-left: 28px;
                                    position: relative;

                                    span {
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 20px;

                                    }

                                }
                            }
                        }
                    }
                }

                .store__map {
                    flex: 1;
                }
            }
        }
    }

    @include xs {
        .containt__store {
            max-width: 100%;
            .store {
                padding: 24px 0 0 0;
                .title {
                    padding: 0 10px;
                    width: 100%;
                    justify-content: flex-start;
                }
                &__find {
                    flex-direction: column;
                    gap: 0px;
                    padding: 0 10px;
                    margin-bottom: 24px;
                    &-city,
                    &-district {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }

                &__main {
                    .store__list {
                        max-width: 100%;
                        height: auto;
                        border: none;
                        border-bottom: solid #eeeeee 1px;
                        margin-bottom: 20px;
                        .store__items {
                            padding: 0 10px;
                            max-height: 1029px;
    
                            .store__item {
                                padding: 10px 0;
                                border-bottom: solid #eeeeee 1px;
                                
                                &-img {
                                    width: 100%;
                                    img{
                                        display: block;
                                    }
                                }
    
                                &-content {
                                    .store__item-name {
                                        margin: 12px 0;
                                    }
    
                                    .store__item-address {
                                        margin-bottom: 8px;
                                        @include text(14px, $font-main, 20px, $text-black-cl, none);
                                        padding-left: 28px;
                                        position: relative;
    
                                        span {
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 20px;
                                        }
    
                                    }
    
                                    .store__item-time {
                                        margin-bottom: 8px;
                                        @include text(14px, $font-main, 20px, $text-black-cl, none);
                                        padding-left: 28px;
                                        position: relative;
    
                                        span {
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 20px;
                                        }
    
                                    }
    
                                    .store__item-phone {
                                        margin-bottom: 8px;
                                        @include text(14px, $font-main, 20px, $text-black-cl, none);
                                        padding-left: 28px;
                                        position: relative;
    
                                        span {
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 20px;
    
                                        }
    
                                    }
                                }
                            }
                        }
                    }


                    .store__map {
                        display: none;
                    }
                }
            }
        }
    }
}